<div class="grid-x gallery">
  <div class="cell small-6 large-4 text-center">
    <a href="#food-fider-extras-survey" data-open="food-fider-extras-survey" class="button modal-button">
      <div class="img-circle portfolio-thumb">
        <img data-interchange="[{{root}}assets/img/thumbs/food-finder-survey-thumb.png, small], [{{root}}assets/img/thumbs/food-finder-survey-thumb-2x.png, retina]" alt="">
      </div>
      <p class="h5">User research survey</p>
    </a>
  </div>
  <div class="reveal fast" id="food-fider-extras-survey" aria-labelledby="food-fider-extras-survey-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
    <div class="text-center device-screenshot">
      <img data-interchange="[{{root}}assets/img/food-finder-survey-prototype.png, small], [{{root}}assets/img/food-finder-survey-prototype-2x.png, retina]" alt="Google Forms survey and Food Finder prototype">
    </div>
    <h1 class="show-for-sr" id="food-fider-extras-survey-title">User research survey</h1>
    <p>User research survey created in Google Forms.</p>
    <p><a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSfYMt_txMGUekmD7BtuS7Aa-I16rbi7vp7gQDx9LtL0Lnj1wg/viewform?usp=sf_link">View survey</a></p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="cell small-6 large-4 text-center">
    <a href="#food-fider-extras-prototype" data-open="food-fider-extras-prototype" class="button modal-button">
      <div class="img-circle portfolio-thumb">
        <img data-interchange="[{{root}}assets/img/thumbs/food-finder-ux.png, small], [{{root}}assets/img/thumbs/food-finder-ux-2x.png, retina]" alt="">
      </div>
      <p class="h5">Prototype</p>
    </a>
  </div>
  <div class="reveal fast" id="food-fider-extras-prototype" aria-labelledby="food-fider-extras-prototype-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
    <div class="text-center device-screenshot">
      <img src="{{root}}assets/img/food-finder-wireframes-animated.gif" alt="Fair Food Finder wireframes">
    </div>
    <h1 class="show-for-sr" id="food-fider-extras-prototype-title">Prototype</h1>
    <p>Prototype built in Adobe XD.</p>
    <p><a class="button" href="https://xd.adobe.com/view/81a8eedf-a292-4012-8bf3-66cd93dde47e-d4fb/?fullscreen&hints=off">View prototype</a></p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="cell small-6 large-4 text-center">
    <a href="#food-fider-extras-logo" data-open="food-fider-extras-logo" class="button modal-button">
      <div class="img-circle portfolio-thumb">
        <img data-interchange="[{{root}}assets/img/thumbs/fair-food-finder-square.png, small], [{{root}}assets/img/thumbs/fair-food-finder-square-2x.png, retina]" alt="">
      </div>
      <p class="h5">Logo design</p>
    </a>
  </div>
  <div class="reveal fast" id="food-fider-extras-logo" aria-labelledby="food-fider-extras-logo-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
    <div class="text-center device-screenshot">
      <img data-interchange="[{{root}}assets/img/fair-food-finder-logo.png, small], [{{root}}assets/img/fair-food-finder-logo-2x.png, retina]" alt="">
    </div>
    <h1 class="show-for-sr" id="food-fider-extras-logo-title">Logo design</h1>
    <p>Fair Food Finder logo design.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="cell small-6 large-4 text-center">
    <a href="#food-fider-extras-wireframes" data-open="food-fider-extras-wireframes" class="button modal-button">
      <div class="img-circle portfolio-thumb">
        <img data-interchange="[{{root}}assets/img/thumbs/food-finder-ux.png, small], [{{root}}assets/img/thumbs/food-finder-ux-2x.png, retina]" alt="">
      </div>
      <p class="h5">Wireframes</p>
    </a>
  </div>
  <div class="reveal fast" id="food-fider-extras-wireframes" aria-labelledby="food-fider-extras-wireframes-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
    <div class="text-center device-screenshot">
      <img data-interchange="[{{root}}assets/img/food-finder-ux-screens-300.png, small], [{{root}}assets/img/food-finder-ux-screens-600.png, smallRetina], [{{root}}assets/img/food-finder-ux-screens-600.png, medium], [{{root}}assets/img/food-finder-ux-screens-1200.png, mediumRetina]" alt="Screenshot of Fair Food Finder wireframes">
    </div>
    <h1 class="show-for-sr" id="food-fider-extras-wireframes-title">Wireframes</h1>
    <p>Wireframes built in Adobe XD.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="cell small-6 large-4 text-center">
    <a href="#food-finder-extras-app" data-open="food-finder-extras-app" class="button modal-button">
      <div class="img-circle portfolio-thumb">
        <img data-interchange="[{{root}}assets/img/thumbs/fair-food-finder-app.png, small], [{{root}}assets/img/thumbs/fair-food-finder-app-2x.png, retina]" alt="">
      </div>
      <p class="h5">Food Finder app</p>
    </a>
  </div>
  <div class="reveal fast" id="food-finder-extras-app" aria-labelledby="food-finder-extras-app-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
    <div class="text-center device-screenshot">
      <img data-interchange="[{{root}}assets/img/food-finder-app-devices-300.png, small], [{{root}}assets/img/food-finder-app-devices-600.png, smallRetina], [{{root}}assets/img/food-finder-app-devices-600.png, medium], [{{root}}assets/img/food-finder-app-devices-1200.png, mediumRetina]" alt="Screenshot of Fair Food Finder web app">
    </div>
    <h1 class="show-for-sr" id="food-finder-extras-app-title">Food Finder app</h1>
    <p>App designed in Adobe XD. Developed in React.</p>
    <p><a class="button" href="https://foodfinder.app">https://foodfinder.app</a></p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="cell small-6 large-4 text-center">
    <a href="#food-finder-extras-vendor" data-open="food-finder-extras-vendor" class="button modal-button">
      <div class="img-circle portfolio-thumb">
        <img data-interchange="[{{root}}assets/img/thumbs/food-finder-vendor.png, small], [{{root}}assets/img/thumbs/food-finder-vendor-2x.png, retina]" alt="">
      </div>
      <p class="h5">Vendor dashboard</p>
    </a>
  </div>
  <div class="reveal fast" id="food-finder-extras-vendor" aria-labelledby="food-finder-extras-vendor-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
    <div class="text-center device-screenshot">
      <img data-interchange="[{{root}}assets/img/food-finder-vendor-screens-300.png, small], [{{root}}assets/img/food-finder-vendor-screens-600.png, smallRetina], [{{root}}assets/img/food-finder-vendor-screens-600.png, medium], [{{root}}assets/img/food-finder-vendor-screens-1200.png, mediumRetina]" alt="Screenshot of Fair Food Finder vendor dashboard web app">
    </div>
    <h1 class="show-for-sr" id="food-finder-extras-vendor-title">Vendor &amp; Admin Dashboard</h1>
    <p>Vendor dashboard developed in React.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>