<div class="grid-x gallery">
  <div class="cell small-6 large-4 text-center">
    <a href="#food-fider-ux" data-open="food-fider-ux" class="button modal-button">
      <div class="img-circle portfolio-thumb">
        <img data-interchange="[{{root}}assets/img/thumbs/fair-food-finder-square.png, small], [{{root}}assets/img/thumbs/fair-food-finder-square-2x.png, retina]" alt="">
      </div>
      <p class="h5">Designs &amp; Prototype</p>
    </a>
  </div>
  <div class="reveal fast" id="food-fider-ux" aria-labelledby="food-fider-ux-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
    <div class="text-center device-screenshot">
      <img data-interchange="[{{root}}assets/img/food-finder-ux-screens-300.png, small], [{{root}}assets/img/food-finder-ux-screens-600.png, smallRetina], [{{root}}assets/img/food-finder-ux-screens-600.png, medium], [{{root}}assets/img/food-finder-ux-screens-1200.png, mediumRetina]" alt="Screenshot of Fair Food Finder wireframes">
    </div>
    <h1 class="show-for-sr" id="food-fider-ux-title">Designs &amp; Prototype</h1>
    <p>I built the wireframes &amp; prototype, designed the Fair Food Finder logo, and designed the responsive app &amp; vendor dashboard.</p>
    <p><a class="button" href="https://xd.adobe.com/view/81a8eedf-a292-4012-8bf3-66cd93dde47e-d4fb/?fullscreen&hints=off">View Wireframes/Prototype</a></p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="cell small-6 large-4 text-center">
    <a href="#food-finder-app" data-open="food-finder-app" class="button modal-button">
      <div class="img-circle portfolio-thumb">
        <img data-interchange="[{{root}}assets/img/thumbs/fair-food-finder-app.png, small], [{{root}}assets/img/thumbs/fair-food-finder-app-2x.png, retina]" alt="">
      </div>
      <p class="h5">Food Finder App</p>
    </a>
  </div>
  <div class="reveal fast" id="food-finder-app" aria-labelledby="food-finder-app-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
    <div class="text-center device-screenshot">
      <img data-interchange="[{{root}}assets/img/food-finder-app-devices-300.png, small], [{{root}}assets/img/food-finder-app-devices-600.png, smallRetina], [{{root}}assets/img/food-finder-app-devices-600.png, medium], [{{root}}assets/img/food-finder-app-devices-1200.png, mediumRetina]" alt="Screenshot of Fair Food Finder web app">
    </div>
    <h1 class="show-for-sr" id="food-finder-app-title">Food Finder App</h1>
    <p>The Fair Food Finder app allows users to search for vendors, filter by hours or dates, and view details for each food stand.</p>
    <p><a class="button" href="https://foodfinder.app">https://foodfinder.app</a></p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="cell small-6 large-4 text-center">
    <a href="#food-finder-vendor" data-open="food-finder-vendor" class="button modal-button">
      <div class="img-circle portfolio-thumb">
        <img data-interchange="[{{root}}assets/img/thumbs/food-finder-vendor.png, small], [{{root}}assets/img/thumbs/food-finder-vendor-2x.png, retina]" alt="">
      </div>
      <p class="h5">Vendor Dashboard</p>
    </a>
  </div>
  <div class="reveal fast" id="food-finder-vendor" aria-labelledby="food-finder-vendor-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
    <div class="text-center device-screenshot">
      <img data-interchange="[{{root}}assets/img/food-finder-vendor-screens-300.png, small], [{{root}}assets/img/food-finder-vendor-screens-600.png, smallRetina], [{{root}}assets/img/food-finder-vendor-screens-600.png, medium], [{{root}}assets/img/food-finder-vendor-screens-1200.png, mediumRetina]" alt="Screenshot of Fair Food Finder vendor dashboard web app">
    </div>
    <h1 class="show-for-sr" id="food-finder-vendor-title">Vendor &amp; Admin Dashboard</h1>
    <p>The secure vendor dashboard was built in React includes custom signup and login pages, dashboard, and admin area. It allows authenticated food vendors to add and edit events, and edit food stand information. The admin area features the ability to create new food stands, and switch vendors to directly edit their events and information.</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>