
<div class="owl-carousel gallery">
  <div class="item" data-hash="path-web">
    <h3>Web design</h3>
    <div class="grid-x">
      <div class="cell small-6 large-4 text-center">
        <a href="#path-web-excelsior-appliance" data-open="path-web-excelsior-appliance" class="button modal-button">
          <div class="img-circle portfolio-thumb">
            <img data-interchange="[{{root}}assets/img/thumbs/logo-excelsior-appliance.png, small], [{{root}}assets/img/thumbs/logo-excelsior-appliance-2x.png, retina]" alt="">
          </div>
          <p class="h5">Excelsior Appliance</p>
        </a>
      </div>
      <div class="reveal fast" id="path-web-excelsior-appliance" aria-labelledby="path-web-excelsior-appliance-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
        <div class="text-center device-screenshot">
          <img data-interchange="[{{root}}assets/img/web-screenshot/devices-excelsior-appliance-300.png, small], [{{root}}assets/img/web-screenshot/devices-excelsior-appliance-600.png, smallRetina], [{{root}}assets/img/web-screenshot/devices-excelsior-appliance-600.png, medium], [{{root}}assets/img/web-screenshot/devices-excelsior-appliance-1200.png, mediumRetina]" alt="Screenshot of excelsior-appliance.com website on monitor, tablet and phone">
        </div>
        <h1 class="show-for-sr" id="path-web-excelsior-appliance-title">Excelsior Appliance</h1>
        <p><a href="https://excelsiorappliance.com">ExcelsiorAppliance.com</a> is a marketing site for a home appliance sales and service business. It is built using mobile-first design, built on a customized Weebly template.</p>
        <p><a class="button" href="https://excelsiorappliance.com">https://excelsiorappliance.com</a></p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="cell small-6 large-4 text-center">
        <a href="#path-web-trish-anton" data-open="path-web-trish-anton" class="button modal-button">
          <div class="img-circle portfolio-thumb">
            <img src="{{root}}assets/img/thumbs/logo-trishanton.svg" alt="">
          </div>
          <p class="h5">Trish Anton Organic Massage</p>
        </a>
      </div>
      <div class="reveal fast" id="path-web-trish-anton" aria-labelledby="path-web-trish-anton-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
        <div class="text-center device-screenshot">
          <img data-interchange="[{{root}}assets/img/web-screenshot/devices-trishanton-300.png, small], [{{root}}assets/img/web-screenshot/devices-trishanton-600.png, smallRetina], [{{root}}assets/img/web-screenshot/devices-trishanton-600.png, medium], [{{root}}assets/img/web-screenshot/devices-trishanton-1200.png, mediumRetina]" alt="Screenshot of trishanton.com website on monitor, tablet and phone">
        </div>
        <h1 class="show-for-sr" id="path-web-trish-anton-title">Trish Anton Organic Massage</h1>
        <p><a href="https://trishanton.com">TrishAnton.com</a> is a marketing site for a massage therapy business. It is built using mobile-first design, built on a customized Weebly template. I also worked with Trish Anton Organic Massage to design a <a href="#path-design-trish-anton" data-open="path-design-trish-anton" data-reveal-return="path-web-trish-anton">custom logo</a> for their business.</p>
        <p><a class="button" href="https://trishanton.com">https://trishanton.com</a></p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="cell small-6 large-4 text-center">
        <a href="#path-web-c-cam" data-open="path-web-c-cam" class="button modal-button">
          <div class="img-circle portfolio-thumb">
            <img data-interchange="[{{root}}assets/img/thumbs/c-cam-logo-circle.gif, small], [{{root}}assets/img/thumbs/c-cam-logo-circle-2x.gif, retina]" alt="">
          </div>
          <p class="h5">C-CAM Solutions</p>
        </a>
      </div>
      <div class="reveal fast" id="path-web-c-cam" aria-labelledby="path-web-c-cam-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
        <div class="text-center device-screenshot">
          <img data-interchange="[{{root}}assets/img/web-screenshot/devices-c-cam-300.png, small], [{{root}}assets/img/web-screenshot/devices-c-cam-600.png, smallRetina], [{{root}}assets/img/web-screenshot/devices-c-cam-600.png, medium], [{{root}}assets/img/web-screenshot/devices-c-cam-1200.png, mediumRetina]" alt="Screenshot of c-camsolutions.com website on monitor, tablet and phone">
        </div>
        <h1 class="show-for-sr" id="path-web-c-cam-title">C-CAM Solutions</h1>
        <p><a href="https://c-camsolutions.com">C-CAMSolutions.com</a> is a one page marketing site for a manufacturing solutions company. It is built using mobile-first design, built on a customized Weebly template. I also worked with C-CAM Solutions to design a <a href="#path-design-c-cam" data-open="path-design-c-cam" data-reveal-return="path-web-c-cam">custom logo</a> and <a href="#path-tech-c-cam" data-open="path-tech-c-cam" data-reveal-return="path-web-c-cam">technology roadmap</a> for their business.</p>
        <p><a class="button" href="https://c-camsolutions.com">https://c-camsolutions.com</a></p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="cell">
        <h4>Archives <small>oldies, but goodies</small></h4>
        <p>Technology changes at a rapid pace, making some past projects I've worked on fun to look back on, but no longer relevant today.</p>
        <p><a href="#path-web-archives" data-open="path-web-archives" class="button">View the archives</a></p>
      </div>
      <div class="reveal fast" id="path-web-archives" aria-labelledby="path-web-archives-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
        <h1 class="show-for-sr" id="path-web-archives-title">Archives</h1>
        <div class="grid-x">
          <div class="cell small-6 medium-4 text-center">
            <a href="#path-web-skatejunk" data-open="path-web-skatejunk" class="button modal-button">
              <div class="img-circle portfolio-thumb">
                <img data-interchange="[{{root}}assets/img/thumbs/skatejunk-logo.gif, small], [{{root}}assets/img/thumbs/skatejunk-logo-2x.gif, retina]" alt="">
              </div>
              <p class="h5">SkateJunk</p>
            </a>
          </div>
          <div class="reveal fast" id="path-web-skatejunk" aria-labelledby="path-web-skatejunk-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
            <div class="device-container">
              <div class="device device-desktop">
                <img class="frame" data-interchange="[{{root}}assets/img/iMac-small.png, small], [{{root}}assets/img/iMac-large.png, medium]" alt="">
                <div class="img-frame">
                  <img class="img" data-interchange="[{{root}}assets/img/web-screenshot/screencapture-skatejunk-small.jpg, small], [{{root}}assets/img/web-screenshot/screencapture-skatejunk-large.jpg, medium]" alt="Screenshot of skatejunk.com website">
                </div>
              </div>
            </div>
            <h1 class="show-for-sr" id="path-web-skatejunk-title">SkateJunk</h1>
            <p>SkateJunk was one of the first businesses I started and one of the main reasons why I got into web design. It is a website built in flash and includes a full eCommerce skateboard shop, interactive flash trick tips and photos, and a custom flash music player. I also created a <a href="#path-design-skatejunk" data-open="path-design-skatejunk" data-reveal-return="path-web-skatejunk">custom logo</a> for SkateJunk.</p>
            <p><a href="http://skatejunk.com" class="button">http://skatejunk.com</a></p>
            <p><a href="#path-web-archives" data-open="path-web-archives" class="button"><span class="icon-back"></span>Back to archives</a></p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="cell small-6 medium-4 text-center">
            <a href="#path-web-jbeal-commercial" data-open="path-web-jbeal-commercial" class="button modal-button">
              <div class="img-circle portfolio-thumb">
                <img src="{{root}}assets/img/graphic/jbeal-commercial-logo.svg" alt="">
              </div>
              <p class="h5">JBeal Commerical</p>
            </a>
          </div>
          <div class="reveal fast" id="path-web-jbeal-commercial" aria-labelledby="path-web-jbeal-commercial-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
            <div class="device-container">
              <div class="device device-desktop">
                <img class="frame" data-interchange="[{{root}}assets/img/iMac-small.png, small], [{{root}}assets/img/iMac-large.png, medium]" alt="">
                <div class="img-frame">
                  <img class="img" data-interchange="[{{root}}assets/img/web-screenshot/screencapture-JBeal-Commercial-small.jpg, small], [{{root}}assets/img/web-screenshot/screencapture-JBeal-Commercial-large.jpg, medium]" alt="Screenshot of JBeal Commerical website">
                </div>
              </div>
            </div>
            <h1 class="show-for-sr" id="path-web-jbeal-commercial-title">JBeal Commerical</h1>
            <p>JBeal Commercial is a commercial real estate company that I worked with to design and build a website, including a custom built image gallery. I also worked with JBeal Commercial to create a <a href="#path-design-jbeal-commercial" data-open="path-design-jbeal-commercial" data-reveal-return="path-web-jbeal-commercial">custom logo</a> for their business.</p>
            <p><a href="#path-web-archives" data-open="path-web-archives" class="button hollow"><span class="icon-back"></span>Back to archives</a></p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="cell small-6 medium-4 text-center">
            <a href="#path-web-u-village-inn" data-open="path-web-u-village-inn" class="button modal-button">
              <div class="img-circle portfolio-thumb">
                <img data-interchange="[{{root}}assets/img/thumbs/preview-uvillageinn.png, small], [{{root}}assets/img/thumbs/preview-uvillageinn-2x.png, retina]" alt="">
              </div>
              <p class="h5">University Village Inn</p>
            </a>
          </div>
          <div class="reveal fast" id="path-web-u-village-inn" aria-labelledby="path-web-u-village-inn-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
            <div class="device-container">
              <div class="device device-desktop">
                <img class="frame" data-interchange="[{{root}}assets/img/iMac-small.png, small], [{{root}}assets/img/iMac-large.png, medium]" alt="">
                <div class="img-frame">
                  <img class="img" data-interchange="[{{root}}assets/img/web-screenshot/screencapture-uvillageinn-small.jpg, small], [{{root}}assets/img/web-screenshot/screencapture-uvillageinn-large.jpg, medium]" alt="Screenshot of University Village Inn website">
                </div>
              </div>
            </div>
            <h1 class="show-for-sr" id="path-web-u-village-inn-title">University Village Inn</h1>
            <p>Marketing website for a hotel in Rochester (no longer open). Custom template and design with some basic Google Maps integration.</p>
            <p><a href="#path-web-archives" data-open="path-web-archives" class="button hollow"><span class="icon-back"></span>Back to archives</a></p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="cell small-6 medium-4 text-center">
            <a href="#path-web-mankato-ssc" data-open="path-web-mankato-ssc" class="button modal-button">
              <div class="img-circle portfolio-thumb">
                <img data-interchange="[{{root}}assets/img/thumbs/mankato-ssc-logo.png, small], [{{root}}assets/img/thumbs/mankato-ssc-logo-2x.png, retina]" alt="">
              </div>
              <p class="h5">Mankato SSC</p>
            </a>
          </div>
          <div class="reveal fast" id="path-web-mankato-ssc" aria-labelledby="path-web-mankato-ssc-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
            <div class="device-container">
              <div class="device device-desktop">
                <img class="frame" data-interchange="[{{root}}assets/img/iMac-small.png, small], [{{root}}assets/img/iMac-large.png, medium]" alt="">
                <div class="img-frame">
                  <img class="img" data-interchange="[{{root}}assets/img/web-screenshot/screencapture-mankato-ssc-small.gif, small], [{{root}}assets/img/web-screenshot/screencapture-mankato-ssc-large.gif, medium]" alt="Screenshot of Mankato SSC website">
                </div>
              </div>
            </div>
            <h1 class="show-for-sr" id="path-web-mankato-ssc-title">Mankato SSC</h1>
            <p>I was an officer in the Mankato Ski and Snowboard Club (SSC) and redesigned the club website. It featured custom design, video, image galleries and a great snowing effect.</p>
            <p><a href="#path-web-archives" data-open="path-web-archives" class="button hollow"><span class="icon-back"></span>Back to archives</a></p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="cell small-6 medium-4 text-center">
            <a href="#path-web-boomerclips" data-open="path-web-boomerclips" class="button modal-button">
              <div class="img-circle portfolio-thumb">
                <img data-interchange="[{{root}}assets/img/thumbs/boomerclips-logo.png, small], [{{root}}assets/img/thumbs/boomerclips-logo-2x.png, retina]" alt="">
              </div>
              <p class="h5">Boomerclips</p>
            </a>
          </div>
          <div class="reveal fast" id="path-web-boomerclips" aria-labelledby="path-web-boomerclips-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
            <div class="device-container">
              <div class="device device-desktop">
                <img class="frame" data-interchange="[{{root}}assets/img/iMac-small.png, small], [{{root}}assets/img/iMac-large.png, medium]" alt="">
                <div class="img-frame">
                  <img class="img" data-interchange="[{{root}}assets/img/web-screenshot/boomerclips-wireframe-small.jpg, small], [{{root}}assets/img/web-screenshot/boomerclips-wireframe-large.jpg, medium]" alt="Screenshot of Boomerclips wireframe">
                </div>
              </div>
            </div>
            <h1 class="show-for-sr" id="path-web-boomerclips-title">Boomerclips</h1>
            <p>Design of wireframes and coordination with offshore development team.</p>
            <p><a href="#path-web-archives" data-open="path-web-archives" class="button hollow"><span class="icon-back"></span>Back to archives</a></p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="cell small-6 medium-4 text-center">
            <a href="#path-web-patrick-huber-clouds" data-open="path-web-patrick-huber-clouds" class="button modal-button">
              <div class="img-circle portfolio-thumb">
                <img data-interchange="[{{root}}assets/img/thumbs/preview-patrickhuberme-clouds.png, small], [{{root}}assets/img/thumbs/preview-patrickhuberme-clouds-2x.png, retina]" alt="">
              </div>
              <p class="h5">PatrickHuber.me (clouds)</p>
            </a>
          </div>
          <div class="reveal fast" id="path-web-patrick-huber-clouds" aria-labelledby="path-web-patrick-huber-clouds-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
            <div class="device-container">
              <div class="device device-desktop">
                <img class="frame" data-interchange="[{{root}}assets/img/iMac-small.png, small], [{{root}}assets/img/iMac-large.png, medium]" alt="">
                <div class="img-frame">
                  <img class="img" data-interchange="[{{root}}assets/img/web-screenshot/screencapture-patrickhuberme-small.jpg, small], [{{root}}assets/img/web-screenshot/screencapture-patrickhuberme-large.jpg, medium]" alt="Screenshot of patrickhuber.me clouds website">
                </div>
              </div>
            </div>
            <h1 class="show-for-sr" id="path-web-patrick-huber-clouds-title">PatrickHuber.me (clouds)</h1>
            <p>My head was in the clouds when I created the last version of my website that was ahead of it's time. It included responsive design with many custom animations.</p>
            <p><a href="http://patrickhuber.me/clouds" class="button">http://patrickhuber.me/clouds</a></p>
            <p><a href="#path-web-archives" data-open="path-web-archives" class="button hollow"><span class="icon-back"></span>Back to archives</a></p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="cell small-6 medium-4 text-center">
            <a href="#path-web-cube-dvds" data-open="path-web-cube-dvds" class="button modal-button">
              <div class="img-circle portfolio-thumb">
                <img data-interchange="[{{root}}assets/img/thumbs/preview-cubedvds.png, small], [{{root}}assets/img/thumbs/preview-cubedvds-2x.png, retina]" alt="">
              </div>
              <p class="h5">Cube DVDs</p>
            </a>
          </div>
          <div class="reveal fast" id="path-web-cube-dvds" aria-labelledby="path-web-cube-dvds-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
            <div class="device-container">
              <div class="device device-desktop">
                <img class="frame" data-interchange="[{{root}}assets/img/iMac-small.png, small], [{{root}}assets/img/iMac-large.png, medium]" alt="">
                <div class="img-frame">
                  <img class="img" data-interchange="[{{root}}assets/img/web-screenshot/screencapture-cubedvds-small.jpg, small], [{{root}}assets/img/web-screenshot/screencapture-cubedvds-large.jpg, medium]" alt="Screenshot of Cube DVDs website">
                </div>
              </div>
            </div>
            <h1 class="show-for-sr" id="path-web-cube-dvds-title">Cube DVDs</h1>
            <p>My idea for a Netflix competitor (back when Netflix still mailed DVDs), but targeted for extreme sports videos. This never launched, but I did work through all the design for a full eCommerce platform to rent extreme sports DVDs.</p>
            <p><a href="#path-web-archives" data-open="path-web-archives" class="button hollow"><span class="icon-back"></span>Back to archives</a></p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="cell small-6 medium-4 text-center">
            <a href="#path-web-tea-district" data-open="path-web-tea-district" class="button modal-button">
              <div class="img-circle portfolio-thumb">
                <img data-interchange="[{{root}}assets/img/thumbs/preview-tea-district.png, small], [{{root}}assets/img/thumbs/preview-tea-district-2x.png, retina]" alt="">
              </div>
              <p class="h5">Tea District</p>
            </a>
          </div>
          <div class="reveal fast" id="path-web-tea-district" aria-labelledby="path-web-tea-district-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
            <div class="device-container">
              <div class="device device-desktop">
                <img class="frame" data-interchange="[{{root}}assets/img/iMac-small.png, small], [{{root}}assets/img/iMac-large.png, medium]" alt="">
                <div class="img-frame">
                  <img class="img" data-interchange="[{{root}}assets/img/web-screenshot/screencapture-Tea-District-small.jpg, small], [{{root}}assets/img/web-screenshot/screencapture-Tea-District-large.jpg, medium]" alt="Screenshot of Tea District website">
                </div>
              </div>
            </div>
            <h1 class="show-for-sr" id="path-web-tea-district-title">Tea District</h1>
            <p>I worked with Tea District, an online tea store, to build some additional functionality into their eCommerce platform.</p>
            <p><a href="#path-web-archives" data-open="path-web-archives" class="button hollow"><span class="icon-back"></span>Back to archives</a></p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="cell small-6 medium-4 text-center">
            <a href="#path-web-clear-choice" data-open="path-web-clear-choice" class="button modal-button">
              <div class="img-circle portfolio-thumb">
                <img data-interchange="[{{root}}assets/img/thumbs/clear-choice-logo.png, small], [{{root}}assets/img/thumbs/clear-choice-logo-2x.png, retina]" alt="">
              </div>
              <p class="h5">Clear Choice</p>
            </a>
          </div>
          <div class="reveal fast" id="path-web-clear-choice" aria-labelledby="path-web-clear-choice-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
            <div class="device-container">
              <div class="device device-desktop">
                <img class="frame" data-interchange="[{{root}}assets/img/iMac-small.png, small], [{{root}}assets/img/iMac-large.png, medium]" alt="">
                <div class="img-frame">
                  <img class="img" data-interchange="[{{root}}assets/img/web-screenshot/clear-choice-email-small.gif, small], [{{root}}assets/img/web-screenshot/clear-choice-email-large.gif, medium]" alt="Screenshot of Clear Choice email">
                </div>
              </div>
            </div>
            <h1 class="show-for-sr" id="path-web-clear-choice-title">Clear Choice</h1>
            <p>I worked with Clear Choice, a acne product, to build some additional functionality into their eCommerce platform, including a rewards system and custom emails.</p>
            <p><a href="#path-web-archives" data-open="path-web-archives" class="button hollow"><span class="icon-back"></span>Back to archives</a></p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="item" data-hash="path-design">
    <h3>Graphic design</h3>
    <div class="grid-x">
      <div class="cell">
        <h4>Logos</h4>
      </div>
      <div class="cell small-6 medium-4 text-center">
        <a href="#path-design-trish-anton" data-open="path-design-trish-anton" class="button modal-button">
          <div class="img-circle portfolio-thumb">
            <img src="{{root}}assets/img/thumbs/logo-trishanton.svg" alt="">
          </div>
          <p class="h5">Trish Anton Organic Massage</p>
        </a>
      </div>
      <div class="reveal fast text-center" id="path-design-trish-anton" aria-labelledby="path-design-trish-anton-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
        <img src="{{root}}assets/img/graphic/organic-massage-text-logo.svg" alt="Trish Anton Organic Massage logo">
        <h1 class="show-for-sr" id="path-design-trish-anton-title">Trish Anton Organic Massage</h1>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="cell small-6 medium-4 text-center">
        <a href="#path-design-c-cam" data-open="path-design-c-cam" class="button modal-button">
          <div class="img-circle portfolio-thumb">
            <img data-interchange="[{{root}}assets/img/thumbs/c-cam-logo-circle.gif, small], [{{root}}assets/img/thumbs/c-cam-logo-circle-2x.gif, retina]" alt="">
          </div>
          <p class="h5">C-CAM Solutions</p>
        </a>
      </div>
      <div class="reveal fast text-center" id="path-design-c-cam" aria-labelledby="path-design-c-cam-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
        <img data-interchange="[{{root}}assets/img/graphic/c-cam-logo-300.png, small], [{{root}}assets/img/graphic/c-cam-logo-600.png, smallRetina], [{{root}}assets/img/graphic/c-cam-logo-600.png, medium], [{{root}}assets/img/graphic/c-cam-logo-1200.png, mediumRetina]" alt="C-CAM Solutions logo">
        <h1 class="show-for-sr" id="path-design-c-cam-title">C-CAM Solutions</h1>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="cell small-6 medium-4 text-center">
        <a href="#path-design-jbeal-commercial" data-open="path-design-jbeal-commercial" class="button modal-button">
          <div class="img-circle portfolio-thumb">
            <img src="{{root}}assets/img/graphic/jbeal-commercial-logo.svg" alt="">
          </div>
          <p class="h5">JBeal Commercial Group</p>
        </a>
      </div>
      <div class="reveal fast text-center" id="path-design-jbeal-commercial" aria-labelledby="path-design-jbeal-commercial-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
        <img src="{{root}}assets/img/graphic/jbeal-commercial-logo.svg" alt="JBeal Commercial Group logo">
        <h1 class="show-for-sr" id="path-design-jbeal-commercial-title">JBeal Commercial Group</h1>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="cell small-6 medium-4 text-center">
        <a href="#path-design-path-designs" data-open="path-design-path-designs" class="button modal-button">
          <div class="img-circle portfolio-thumb">
            <img data-interchange="[{{root}}assets/img/thumbs/logo-path-designs.png, small], [{{root}}assets/img/thumbs/logo-path-designs-2x.png, retina]" alt="">
          </div>
          <p class="h5">PATH Designs</p>
        </a>
      </div>
      <div class="reveal fast text-center" id="path-design-path-designs" aria-labelledby="path-design-path-designs-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
        <img data-interchange="[{{root}}assets/img/graphic/path-designs-logo-300.png, small], [{{root}}assets/img/graphic/path-designs-logo-600.png, smallRetina], [{{root}}assets/img/graphic/path-designs-logo-600.png, medium]" alt="PATH Designs logo">
        <h1 class="show-for-sr" id="path-design-path-designs-title">PATH Designs</h1>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="cell small-6 medium-4 text-center">
        <a href="#path-design-skatejunk" data-open="path-design-skatejunk" class="button modal-button">
          <div class="img-circle portfolio-thumb">
            <img data-interchange="[{{root}}assets/img/thumbs/skatejunk-logo.gif, small], [{{root}}assets/img/thumbs/skatejunk-logo-2x.gif, retina]" alt="">
          </div>
          <p class="h5">SkateJunk</p>
        </a>
      </div>
      <div class="reveal fast text-center" id="path-design-skatejunk" aria-labelledby="path-design-skatejunk-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
        <img src="{{root}}assets/img/graphic/skatejunk-logo.gif" alt="SkateJunk logo">
        <h1 class="show-for-sr" id="path-design-skatejunk-title">SkateJunk</h1>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="cell">
        <h4>Print <small>physical media</small></h4>
      </div>
      <div class="cell small-6 medium-4 text-center">
        <a href="#path-design-black-widow" data-open="path-design-black-widow" class="button modal-button">
          <div class="img-circle portfolio-thumb">
            <img data-interchange="[{{root}}assets/img/thumbs/blackwidow.jpg, small], [{{root}}assets/img/thumbs/blackwidow-2x.jpg, retina]" alt="">
          </div>
          <p class="h5">Black Widow Web skateboard</p>
        </a>
      </div>
      <div class="reveal fast text-center" id="path-design-black-widow" aria-labelledby="path-design-black-widow-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
        <img data-interchange="[{{root}}assets/img/graphic/blackwidow-300.jpg, small], [{{root}}assets/img/graphic/blackwidow-600.jpg, smallRetina], [{{root}}assets/img/graphic/blackwidow-600.jpg, medium]" alt="Black Widow Web skateboard deck and graphic">
        <h1 class="show-for-sr" id="path-design-black-widow-title">Black Widow Web skateboard</h1>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="item" data-hash="path-tech">
    <h3>Technology solutions</h3>
    <p>In addition to web and graphic design I work with companies to determine the best technology solutions for their unique needs.</p>
    <div class="grid-x">
      <div class="cell small-6 medium-4 text-center">
        <a href="#path-tech-c-cam" data-open="path-tech-c-cam" class="button modal-button">
          <div class="img-circle portfolio-thumb">
            <img data-interchange="[{{root}}assets/img/thumbs/c-cam-logo-circle.gif, small], [{{root}}assets/img/thumbs/c-cam-logo-circle-2x.gif, retina]" alt="">
          </div>
          <p class="h5">C-CAM Solutions</p>
        </a>
      </div>
      <div class="reveal fast" id="path-tech-c-cam" aria-labelledby="path-tech-c-cam-title" data-reveal data-animation-in="scale-in-up" data-animation-out="scale-out-down" data-deep-link="true" data-update-history="true">
        <h1 class="show-for-sr" id="path-tech-c-cam-title">C-CAM Solutions</h1>
        <div class="text-center device-screenshot">
          <img data-interchange="[{{root}}assets/img/c-cam-tech-exploration-300.png, small], [{{root}}assets/img/c-cam-tech-exploration-600.png, smallRetina], [{{root}}assets/img/c-cam-tech-exploration-600.png, medium], [{{root}}assets/img/c-cam-tech-exploration-1200.png, mediumRetina]" alt="C-CAM Solutions technology roadmap presentation">
        </div>
        <p>C-CAM Solutions is a manufacturing solutions company that I worked with to create a technology roadmap for their new business. This included website strategy and design, internal and external document storage solutions, client ordering and tracking app design, and future state ideas for mobile apps and digital products.</p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>